// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {

	--primary-color: #192c44;
	--accent-color: #58c091;
	--danger-color: #e74c3c;	
	
}
